# Node.js dependencies
node_modules/

# TypeScript build output
dist/

# Environment variables
.env

# Npm cache directory
.npm/

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

notes.md